@model List<UserViewModel>

@{
  
    ViewData["Title"] = "Kullanicilar";
}

<h3>Kullanıcılar</h3>

<div class="row">


    <div class="col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Kullanıcı Adı</th>
                    <th>E-Posta</th>
                    <th>Roller</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.UserName</td>
                            <td>@item.Email</td>
                            <td>
                                <user-role-names user-id="@item.Id"></user-role-names>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-outline-success" asp-route-userId="@item.Id" asp-controller="Roles" asp-action="AssignRoleToAppUser">Role Atama</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</div>